#title {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  background-color: green;
  color: white;
   
}

#todo-display {
  display: flex;
  color: orange;
  font-size: 40px;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  
}

#form {
  display: flex;
  justify-content: center;
  
}

.button {
  color: green;
  border-width: 4px;
  background-color: white;
  font-size: 30px;
  border-color: green;

}

.newbutton {
  background-color:  red;
  width: 2em;
  height: 2em;
}

